<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123563750329-pfgahqi6mbo7qmukkdbu4t854dfibpbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123563750329-pfgahqi6mbo7qmukkdbu4t854dfibpbf</string>
	<key>API_KEY</key>
	<string>AIzaSyA0_U2Qs01XbPSzxPvJdY6AmUmcMiZMFSw</string>
	<key>GCM_SENDER_ID</key>
	<string>123563750329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nikeStoreApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nike-store-app-f8ff2</string>
	<key>STORAGE_BUCKET</key>
	<string>nike-store-app-f8ff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123563750329:ios:19fedc6a62b1c41fa57c68</string>
</dict>
</plist>